body {
  background-color: #58728d;
  background-image: linear-gradient(to bottom, #58728d, #45596e);
  color: rgb(65, 65, 65);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  color: white;
  width: 24%;
  min-width: 250px;
  padding: 48px;
  text-align: center;
}

.main {
  padding: 48px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
  position: relative;
  background-color : white;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 60px;
  margin-left: 0;
  border-radius: 6px;
}

.img-round {
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

#img-profile {
  width: 180px;
  height: auto;
  margin: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 2em;
}

.btn-red {
  background-color: rgba(230, 57, 70, 1);
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
  display: inline-block;
  margin: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.btn-red:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.tab {
  position: absolute;
  left: -140px;
  width: 140px;
  background-color: rgba(255, 255, 255, 0);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 64px;
  cursor: pointer;
}

.tab-int {
  background-color: rgba(255, 255, 255, 0);
  height: 64px;
  text-align: left;
  position: absolute;
  left: 12px;
  width: 140px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.tab-int:before, .tab-int:after {
  content: "";
  background-color: rgba(255, 255, 255, 0);
  height: 30px;
  width: 30px;
  position: absolute;
  left: 128px;
}

.tab-int:before {
  top: -15px;
}

.tab-int:after {
  bottom: -15px;
}

#competences-title {
  top: 50%;
}

#realisations-title {
  top: 60%;
}

#formation-title {
  top: 70%;
}

.tab-icon {
  color: white;
  width:  60px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -85px;
}

.tab-skill {
  width: 100%;
}

.tab-skill h5 {
  color: white;
  /* margin-right: 40px; */
}

.tab-active {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.tab-active .tab-int {
  background-color: rgba(255, 255, 255, 1);
}


.tab-active .tab-int:before {
  background-color: rgba(255, 255, 255, 1);
}

.tab-active .tab-int:after {
  background-color: rgba(255, 255, 255, 1);
}


.tab-active .tab-skill h5 {
  color: rgb(65, 65, 65);
}

.tab {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3) 25%, transparent 50%, transparent);
  background-position: 0 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.tab:hover {
  background-position: 100% 0;
}

.tab:hover .tab-skill h5 {
  /* color: rgb(65, 65, 65); */
}

.content {
  display: none;
}

.content-active {
  display: block;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .list-inline > li {
    display: block;
    padding: 0px 20px;
    font-size: 2em;
    margin: 10px 0;
  }
}
