html {
  font-size: 100%;
}

body {
  background-color: #5b7da0;
  background-image: linear-gradient(to bottom, #7ca7d4, #5b7da0);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, li, a {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito Sans', sans-serif;
}

p, li, a {
  font-family: 'Roboto', sans-serif;
}

p, li {
  font-size: 1rem;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  text-align: center;
}

.img-round {
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
  margin: 24px 0;
  width: 180px;
}

.hello {
  width: 30%;
  max-width: 500px;
  margin: 16px auto;
  padding: 10px 16px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.hello:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
  position: absolute;
  top: -15px;
  border-top-left-radius: 4px;
}

.hello h1 {
  color: rgb(90, 90, 90);
}

.hello h1,
.dev h2 {
  font-size: 1.7rem;
}

.main {
  width: 80%;
  max-width: 1100px;
  text-align: left;
  margin: 24px auto;
  position: relative;
}

.main h1 {
  font-size: 2rem;
  text-align: center;
}

.main > p {
  text-align: center;
}

.dev {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev img {
  height: 40px;
  margin: 0 12px;
}

.dev h2 {
  text-align: center;
}

.tabs {
  margin: 32px 0 0 0;
}

.tab {
  cursor: pointer;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.tab h3 {
  font-weight: 300;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.underscore {
  position: absolute;
  left: 0;
  transition: 0.4s ease-in-out;
  width: 33%;
  height: 2px;
  background: white;
  margin: 0 auto;
}

#competences-title:hover ~ .underscore,
.tabs div:nth-child(1).tab-active ~ .underscore {
  left: 0%;
}

#realisations-title:hover ~ .underscore,
.tabs div:nth-child(2).tab-active ~ .underscore {
  left: 33.33%;
}

#formation-title:hover ~ .underscore,
.tabs div:nth-child(3).tab-active ~ .underscore {
  left: 66.7%;
}

.content {
  display: none;
  margin: 56px 0 0 0;
}

.content-active {
  display: block;
  min-height: 345px;
}

.content-container {
  display: flex;
  align-items: center;
}

#content-container-real,
#content-container-form {
  justify-content: space-evenly;
}

.banner {
  background-size: cover;
  background-position: center;
  width: 44%;
  height: 320px;
  border-radius: 16px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 24px;
}

.banner h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.project-type {
  margin-top: 0;
}

.btn-flat {
  padding: 8px 16px;
  margin: 0 auto;
  border-radius: 4px;
  background: #D84E4E;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
}

#separator {
  display: none;
  height: 40px;
}

.curriculum {
  display: flex;
  align-items: center;
  margin-left: 180px;
  padding: 8px 24px 8px 68px;
  position: relative;
  border-bottom: 2px solid white;
}

.curriculum img {
  width: 92px;
}

.curriculum h4 {
  margin: 0;
}

.curriculum a {
  position: absolute;
  left: -30px;
}

.content-form {
  width: 44%;
}

.content-form img {
  width: 100%;
}

.footer {
  width: 30%;
  max-width: 500px;
  margin: 64px auto;
  padding: 20px 0;
  text-align: center;
  min-width: 296px;
  border-radius: 16px;
  border: 2px solid white;
}

.footer a {
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 2em;
}


/* Media queries --------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {

  .hello {
    width: 80%;
    margin: 8px auto;
    padding: 0px 8px;
  }

  .hello h1,
  .dev h2 {
    font-size: 1.3rem;
  }

  .tab {
    width: 32%;
  }

  .tab h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .underscore {
    width: 32%;
  }

  .content-container {
    display: block;
  }

  .banner {
    width: auto;
    height: 320px;
  }

  #separator {
    display: block;
  }

  .curriculum {
    border: none;
    position: static;
    margin: 32px 0 0 0;
    padding: 0;
  }

  .curriculum a {
    position: static;
    margin: 0 16px;
  }

  .curriculum img {
    width: 64px;
  }

  .content-form {
    width: auto;
  }

}

@media only screen and (max-width: 650px) {

  .tab h3 {
    font-size: 0.75rem;
  }

}
